*.pdb
*.suo
*.obj
*.tlog
*.log
*.idb
*.7z
*.rar
*.zip
*.cache
*.tlh
*.tli
*.sbr
*/Debug/*
*/Release/*
*/Win32/*
*/GeneratedFiles/*
*/*.sdf
*.sdf
*.opensdf
*/test/*
*/GeneratedFiles/*
*/compileResults.log
moc_*
*.htm
*/.vs/*
*/*/Debug/*
*/*/Release/*
*/*/GeneratedFiles/*
*.opendb
*.db
libs/*
*.ilk
hysd*.exe
*test*.exe
*/hysd_release/res/*
tool-kits/bin/*
hysd-module/ui_test/*
path.txt
*.vs/*
bin/*.exe